<div class="bodyLog">
<form [formGroup]="mainForm" autocomplete="off" (keydown.enter)="userLogin()">
  <!-- Contenedor card -->
<div class="flex justify-center items-center min-h-screen md:w-3/4 md:mx-auto xl:max-w-5xl">
  <div class="rounded-md bg-white">
    <!-- Your content goes here -->
    <!-- <div class="flex items-center flex-col relative z-1 md:flex-row"> -->
      <div class="py-10 px-6 bg-white rounded-lg">
      <div class="text-center text- text-red-400  font-roboto md:m-auto">
        <p class="text-2xl font-bold">¡Bienvenido!</p>
<!-- Input correo -->
          <div class="my-7">
            <span class="max-w-xl mx-auto p-float-label">
              <input
                class="w-full"
                pInputText
                id="email"
                placeholder="aspirante@ufps.edu.co"
                formControlName="email"
                autocomplete="off"
              />
              <label for="email">Correo</label>
            </span>
          </div>
<!-- Input contraseña -->
          <div class="my-7">
            <span class="w-full max-w-xl p-float-label">
              <p-password
                [toggleMask]="true"
                [feedback]="false"
                [style]="{ width: '100%' }"
                [inputStyle]="{ width: '100%' }"
                formControlName="password"
                autocomplete="off"
              ></p-password>
              <label for="password">Contraseña</label>
            </span>
          </div>
        <!-- Contenedor botones -->
        <div class="mb-5">
          <button [disabled]="dissabledLogin" (click)="openSignUpDialog()" class="pr-9 font-bold cursor-pointer hover:text-red-500 transition-colors">¿No tienes cuenta?</button>
          <button [disabled]="dissabledLogin" (click)="openRecoverPassDialog()" class="font-bold cursor-pointer hover:text-red-500 transition-colors">¿Olvidaste tu clave?</button>
        </div>
        <!-- Contenedor iniciar sesion -->
        <div class="mb-15">
          <p-button
            class="w-full mb-15 mt-8 mx-7 md:mb-9"
            label="Iniciar sesión"
            styleClass="p-button-danger"
            (onClick)="userLogin()"
          ></p-button>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>
