.bodyLog {
  background-image: url("../../../../../assets/LoginBg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
