<form [formGroup]="mainForm">
  <ng-container *ngIf="getDocsStatus()">
    <p-card header="¡Inscripción completada!">
      <p class="m-0">
        Su inscripción ha sido completada con éxito. Nos estaremos comunicando
        prontamente con usted.
      </p>
    </p-card>
  </ng-container>

  <div class="grid-container">
    <div class="grid-item">
      <mat-card style="padding: 16px">
        <mat-card-header>
          <mat-card-title class="text-sm"
            >Anexar dos (2) fotos, tamaño 3x4 en un mismo
            documento.</mat-card-title
          >

          <mat-card-subtitle>(Archivo en formato JPG, PNG)</mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions class="card-actions">
          <div
            class="user-evidences-manager__evidence-load flex gap-15 items-center"
          >
            <div class="mt-15 mr-15">
              <span class="badge" [ngClass]="getBadgeClass(photoStatus)">{{
                photoStatus
              }}</span>
            </div>
            <div class="mt-15 mr-18">
              <span
                class="badge"
                *ngIf="photoStatus === 'SIN REVISAR'"
                [ngClass]="getBadgeClass('APROBADO')"
                >{{ "Enviado para revisar" }}
              </span>
            </div>
          </div>
          <button
            class="material-button"
            *ngIf="
              photoStatus === 'RECHAZADO' ||
              photoStatus === 'NO SE HA SUBIDO' ||
              photoStatus === ''
            "
            (click)="visaInput.click()"
          >
            <span *ngIf="photosFileName === ''">Añadir archivo</span>
            <span *ngIf="photosFileName">Archivo subido</span>
            <input
              type="file"
              accept="image/jpeg, image/png"
              formControlName="photos"
              #visaInput
              (change)="onPhotosSelect($event)"
            />
          </button>

          <button
            *ngIf="
              photoStatus === 'RECHAZADO' ||
              photoStatus === 'NO SE HA SUBIDO' ||
              photoStatus === ''
            "
            mat-raised-button
            (click)="onPhotosUpload()"
            color="warn"
          >
            Guardar
            <mat-icon>save</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="grid-item">
      <mat-card style="padding: 16px">
        <mat-card-header>
          <mat-card-title class="text-sm" *ngIf="isForeign === 'Colombia'"
            >Fotocopia ampliada de cédula (frente y reverso).
          </mat-card-title>
          <mat-card-title class="text-sm" *ngIf="isForeign !== 'Colombia'"
            >Anexar copia del pasaporte o VISA por ambos lados
          </mat-card-title>
          <mat-card-subtitle>(Archivo en formato PDF)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <div
            class="user-evidences-manager__evidence-load flex gap-4 items-center"
          >
            <div class="mt-15 mr-15">
              <span class="badge" [ngClass]="getBadgeClass(passportStatus)">{{
                passportStatus
              }}</span>
            </div>
            <div class="mt-15 mr-18">
              <span
                class="badge"
                *ngIf="passportStatus === 'SIN REVISAR'"
                [ngClass]="getBadgeClass('APROBADO')"
                >{{ "Enviado para revisar" }}
              </span>
            </div>
            <button
              *ngIf="
                passportStatus === 'RECHAZADO' ||
                passportStatus === 'NO SE HA SUBIDO' ||
                passportStatus === ''
              "
              class="material-button"
              (click)="passportInput.click()"
            >
              <span *ngIf="passportFileName === ''">Añadir archivo</span>
              <span *ngIf="passportFileName">Archivo subido</span>
              <input
                type="file"
                accept=".pdf, application/pdf"
                formControlName="passport"
                #passportInput
                (change)="onPassportSelect($event)"
              />
            </button>

            <button
              mat-raised-button
              *ngIf="
                passportStatus === 'RECHAZADO' ||
                passportStatus === 'NO SE HA SUBIDO' ||
                passportStatus === ''
              "
              (click)="onPassportUpload()"
              color="warn"
            >
              Guardar
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="grid-item">
      <mat-card style="padding: 16px">
        <mat-card-header>
          <mat-card-title class="text-sm" *ngIf="!isForeign"
            >Anexar copia diploma de pregrado.
          </mat-card-title>
          <mat-card-title class="text-sm" *ngIf="isForeign"
            >Anexar copia del diploma fondo negro apostillado.
          </mat-card-title>
          <mat-card-subtitle>(Archivo en formato PDF)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <div
            class="user-evidences-manager__evidence-load flex gap-4 items-center"
          >
            <div class="mt-15 mr-18">
              <span
                class="badge"
                [ngClass]="getBadgeClass(undergraduateDiplomaStatus)"
                >{{ undergraduateDiplomaStatus }}</span
              >
            </div>
            <div class="mt-15 mr-18">
              <span
                class="badge"
                *ngIf="undergraduateDiplomaStatus === 'SIN REVISAR'"
                [ngClass]="getBadgeClass('APROBADO')"
                >{{ "Enviado para revisar" }}
              </span>
            </div>
            <button
              *ngIf="
                undergraduateDiplomaStatus === 'RECHAZADO' ||
                undergraduateDiplomaStatus === 'NO SE HA SUBIDO' ||
                undergraduateDiplomaStatus === ''
              "
              class="material-button"
              (click)="diplomaInput.click()"
            >
              <span *ngIf="undergraduateDiplomaName === ''"
                >Añadir archivo</span
              >
              <span *ngIf="undergraduateDiplomaName">Archivo subido</span>
              <input
                type="file"
                accept=".pdf, application/pdf"
                formControlName="undergraduateDiploma"
                #diplomaInput
                (change)="onUndergraduateDiplomaSelect($event)"
              />
            </button>

            <button
              *ngIf="
                undergraduateDiplomaStatus === 'RECHAZADO' ||
                undergraduateDiplomaStatus === 'NO SE HA SUBIDO' ||
                undergraduateDiplomaStatus === ''
              "
              mat-raised-button
              (click)="onUnderGraduateDiplomaUpload()"
              color="warn"
            >
              Guardar
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

    <ng-container *ngIf="!isEgresado"
      ><div class="grid-item">
        <mat-card style="padding: 16px">
          <mat-card-header>
            <mat-card-title class="text-sm" *ngIf="isForeign !== 'Colombia'"
              >Anexar copia de las notas de pregrado
              apostilladas.</mat-card-title
            >
            <mat-card-title class="text-sm" *ngIf="isEgresado"
              >Notas originales de pre-grado o Acta de compromiso para entrega
              de notas.</mat-card-title
            >
            <mat-card-subtitle>(Archivo en formato PDF)</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <div
              class="user-evidences-manager__evidence-load flex gap-4 items-center"
            >
              <div class="mt-15 mr-18">
                <span
                  class="badge"
                  [ngClass]="getBadgeClass(undergraduateNotesStatus)"
                  >{{ undergraduateNotesStatus }}</span
                >
              </div>
              <div class="mt-15 mr-18">
                <span
                  class="badge"
                  *ngIf="undergraduateNotesStatus === 'SIN REVISAR'"
                  [ngClass]="getBadgeClass('APROBADO')"
                  >{{ "Enviado para revisar" }}
                </span>
              </div>
              <button
                *ngIf="
                  undergraduateNotesStatus === 'RECHAZADO' ||
                  undergraduateNotesStatus === 'NO SE HA SUBIDO' ||
                  undergraduateNotesStatus === ''
                "
                class="material-button"
                (click)="notasPregradoInput.click()"
              >
                <span *ngIf="underGraduateNotesName === ''"
                  >Añadir archivo</span
                >
                <span *ngIf="underGraduateNotesName">Archivo subido</span>
                <input
                  type="file"
                  accept=".pdf, application/pdf"
                  formControlName="undergraduateNotes"
                  #notasPregradoInput
                  (change)="onUndergraduateNotesSelect($event)"
                />
              </button>

              <button
                *ngIf="
                  undergraduateNotesStatus === 'RECHAZADO' ||
                  undergraduateNotesStatus === 'NO SE HA SUBIDO' ||
                  undergraduateNotesStatus === ''
                "
                mat-raised-button
                (click)="onUnderGraduateNotesUpload()"
                color="warn"
              >
                Guardar
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div></ng-container
    >

    <div class="grid-item">
      <mat-card style="padding: 16px">
        <mat-card-header>
          <mat-card-title class="text-sm"
            >Adjuntar acta de compromiso si es necesario.
          </mat-card-title>
          <mat-card-subtitle>(Archivo en formato PDF)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <div
            class="user-evidences-manager__evidence-load flex gap-4 items-center"
          >
            <div class="mt-15 mr-18">
              <span
                class="badge"
                [ngClass]="getBadgeClass(commitmentActStatus)"
                >{{ commitmentActStatus }}</span
              >
            </div>
            <div class="mt-15 mr-18">
              <span
                class="badge"
                *ngIf="commitmentActStatus === 'SIN REVISAR'"
                [ngClass]="getBadgeClass('APROBADO')"
                >{{ "Enviado para revisar" }}
              </span>
            </div>
            <button
              *ngIf="
                commitmentActStatus === 'RECHAZADO' ||
                commitmentActStatus === 'NO SE HA SUBIDO' ||
                commitmentActStatus === ''
              "
              class="material-button"
              (click)="actaCompromisoInput.click()"
            >
              <span *ngIf="commitmentActName === ''">Añadir archivo</span>
              <span *ngIf="commitmentActName">Archivo subido</span>
              <input
                type="file"
                accept=".pdf, application/pdf"
                formControlName="commitmentAct"
                #actaCompromisoInput
                (change)="onCommitmentActSelect($event)"
              />
            </button>

            <button
              *ngIf="
                commitmentActStatus === 'RECHAZADO' ||
                commitmentActStatus === 'NO SE HA SUBIDO' ||
                commitmentActStatus === ''
              "
              class="material-button"
              mat-raised-button
              (click)="onCommitmentActUpload()"
              color="warn"
            >
              Guardar
              <mat-icon>save</mat-icon>
            </button>

            <button
            *ngIf="
            commitmentActStatus === 'RECHAZADO' ||
            commitmentActStatus === 'NO SE HA SUBIDO' ||
            commitmentActStatus === ''
            "
            class="material-button"
            mat-raised-button
            (click)="redirectToCommitmentActFormat()"
            color="primary"
          >
            Formato
            <mat-icon>description</mat-icon>
          </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="grid-item">
      <mat-card style="padding: 16px">
        <mat-card-header>
          <mat-card-title class="text-sm"
            >Anexar resumen de la hoja de vida del aspirante</mat-card-title
          >
          <mat-card-subtitle>(Archivo en formato PDF)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <div
            class="user-evidences-manager__evidence-load flex gap-4 items-center"
          >
            <div class="mt-15 mr-18">
              <span
                class="badge"
                [ngClass]="getBadgeClass(applicantCVStatus)"
                >{{ applicantCVStatus }}</span
              >
            </div>
            <div class="mt-15 mr-18">
              <span
                class="badge"
                *ngIf="applicantCVStatus === 'SIN REVISAR'"
                [ngClass]="getBadgeClass('APROBADO')"
                >{{ "Enviado para revisar" }}
              </span>
            </div>
            <button
              *ngIf="
                applicantCVStatus === 'RECHAZADO' ||
                applicantCVStatus === 'NO SE HA SUBIDO' ||
                applicantCVStatus === ''
              "
              class="material-button"
              (click)="cvInput.click()"
            >
              <span *ngIf="applicantCVName === ''">Añadir archivo</span>
              <span *ngIf="applicantCVName">Archivo subido</span>
              <input
                type="file"
                accept=".pdf, application/pdf"
                formControlName="applicantCV"
                #cvInput
                (change)="onApplicantCVSelect($event)"
              />
            </button>

            <button
              *ngIf="
                applicantCVStatus === 'RECHAZADO' ||
                applicantCVStatus === 'NO SE HA SUBIDO' ||
                applicantCVStatus === ''
              "
              class="material-button"
              mat-raised-button
              (click)="onApplicantCVUpload()"
              color="warn"
            >
              Guardar
              <mat-icon>save</mat-icon>
            </button>

            <button
            *ngIf="
            applicantCVStatus === 'RECHAZADO' ||
            applicantCVStatus === 'NO SE HA SUBIDO' ||
            applicantCVStatus === ''
            "
            class="material-button"
            mat-raised-button
            (click)="redirectToCVFormat()"
            color="primary"
          >
            Formato
            <mat-icon>description</mat-icon>
          </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="grid-item">
      <mat-card style="padding: 16px">
        <mat-card-header>
          <mat-card-title class="text-sm"
            >Anexar comprobante de pago de derechos de inscripción (15% SMMLV).
          </mat-card-title>
          <mat-card-subtitle>(Archivo en formato PDF)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <div
            class="user-evidences-manager__evidence-load flex gap-4 items-center"
          >
            <div class="mt-15 mr-18">
              <span
                class="badge"
                [ngClass]="getBadgeClass(inscriptionRightsStatus)"
                >{{ inscriptionRightsStatus }}</span
              >
            </div>
            <div class="mt-15 mr-18">
              <span
                class="badge"
                *ngIf="inscriptionRightsStatus === 'SIN REVISAR'"
                [ngClass]="getBadgeClass('APROBADO')"
                >{{ "Enviado para revisar" }}
              </span>
            </div>
            <button
              *ngIf="
                inscriptionRightsStatus === 'RECHAZADO' ||
                inscriptionRightsStatus === 'NO SE HA SUBIDO' ||
                inscriptionRightsStatus === ''
              "
              class="material-button"
              (click)="derechosInscripcionInput.click()"
            >
              <span *ngIf="inscriptionRightsName === ''">Añadir archivo</span>
              <span *ngIf="inscriptionRightsName">Archivo subido</span>
              <input
                type="file"
                accept=".pdf, application/pdf"
                formControlName="inscriptionRights"
                #derechosInscripcionInput
                (change)="onInscriptionRightsSelect($event)"
              />
            </button>

            <button
              *ngIf="
                inscriptionRightsStatus === 'RECHAZADO' ||
                inscriptionRightsStatus === 'NO SE HA SUBIDO' ||
                inscriptionRightsStatus === ''
              "
              class="material-button"
              mat-raised-button
              (click)="onInscriptionRightsUpload()"
              color="warn"
            >
              Guardar
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="grid-item">
      <mat-card style="padding: 16px">
        <mat-card-header>
          <mat-card-title class="text-sm"
            >Anexar firma digitalizada.</mat-card-title
          >
          <mat-card-subtitle>(Archivo en formato PDF)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <div
            class="user-evidences-manager__evidence-load flex gap-4 items-center"
          >
            <div class="mt-15 mr-18">
              <span
                class="badge"
                [ngClass]="getBadgeClass(digitalSignStatus)"
                >{{ digitalSignStatus }}</span
              >
            </div>
            <div class="mt-15 mr-18">
              <span
                class="badge"
                *ngIf="digitalSignStatus === 'SIN REVISAR'"
                [ngClass]="getBadgeClass('APROBADO')"
                >{{ "Enviado para revisar" }}
              </span>
            </div>
            <button
              *ngIf="
                digitalSignStatus === 'RECHAZADO' ||
                digitalSignStatus === 'NO SE HA SUBIDO' ||
                digitalSignStatus === ''
              "
              class="material-button"
              (click)="signInput.click()"
            >
              <span *ngIf="digitalSignName === ''">Añadir archivo</span>
              <span *ngIf="digitalSignName">Archivo subido</span>
              <input
                type="file"
                accept=".pdf, application/pdf"
                formControlName="sign"
                #signInput
                (change)="onSignSelect($event)"
              />
            </button>

            <button
              *ngIf="
                digitalSignStatus === 'RECHAZADO' ||
                digitalSignStatus === 'NO SE HA SUBIDO' ||
                digitalSignStatus === ''
              "
              class="material-button"
              mat-raised-button
              (click)="onSignUpload()"
              color="warn"
            >
              Guardar
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="grid-item">
      <mat-card style="padding: 16px">
        <mat-card-header>
          <mat-card-title class="text-sm"
            >Carta de referencia académica (1).</mat-card-title
          >
          <mat-card-subtitle>(Archivo en formato PDF)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <div
            class="user-evidences-manager__evidence-load flex gap-4 items-center"
          >
            <div class="mt-15 mr-18">
              <span
                class="badge"
                [ngClass]="getBadgeClass(academicReferenceOneStatus)"
                >{{ academicReferenceOneStatus }}</span
              >
            </div>
            <div class="mt-15 mr-18">
              <span
                class="badge"
                *ngIf="academicReferenceOneStatus === 'SIN REVISAR'"
                [ngClass]="getBadgeClass('APROBADO')"
                >{{ "Enviado para revisar" }}
              </span>
            </div>
            <button
              *ngIf="
                academicReferenceOneStatus === 'RECHAZADO' ||
                academicReferenceOneStatus === 'NO SE HA SUBIDO' ||
                academicReferenceOneStatus === ''
              "
              class="material-button"
              (click)="referenceLetter1Input.click()"
            >
              <span *ngIf="academicReferenceOneName === ''"
                >Añadir archivo</span
              >
              <span *ngIf="academicReferenceOneName">Archivo subido</span>
              <input
                type="file"
                accept=".pdf, application/pdf"
                formControlName="academicReferenceOne"
                #referenceLetter1Input
                (change)="onAcademicReferenceOneSelect($event)"
              />
            </button>

            <button
              *ngIf="
                academicReferenceOneStatus === 'RECHAZADO' ||
                academicReferenceOneStatus === 'NO SE HA SUBIDO' ||
                academicReferenceOneStatus === ''
              "
              class="material-button"
              mat-raised-button
              (click)="onAcademicReferenceOneUpload()"
              color="warn"
            >
              Guardar
              <mat-icon>save</mat-icon>
            </button>

            <button
              *ngIf="
                academicReferenceOneStatus === 'RECHAZADO' ||
                academicReferenceOneStatus === 'NO SE HA SUBIDO' ||
                academicReferenceOneStatus === ''
              "
              mat-raised-button
              (click)="redirectToAcademicReferenceFormat()"
              color="primary"
            >
              Formato
              <mat-icon>description</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="grid-item">
      <mat-card style="padding: 16px">
        <mat-card-header>
          <mat-card-title class="text-sm"
            >Carta de referencia académica (2).</mat-card-title
          >
          <mat-card-subtitle> (Archivo en formato PDF)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <div
            class="user-evidences-manager__evidence-load flex gap-4 items-center"
          >
            <div class="mt-15 mr-18">
              <span
                class="badge"
                [ngClass]="getBadgeClass(academicReferenceTwoStatus)"
                >{{ academicReferenceTwoStatus }}</span
              >
            </div>
            <div class="mt-15 mr-18">
              <span
                class="badge"
                *ngIf="academicReferenceTwoStatus === 'SIN REVISAR'"
                [ngClass]="getBadgeClass('APROBADO')"
                >{{ "Enviado para revisar" }}
              </span>
            </div>
            <button
              *ngIf="
                academicReferenceTwoStatus === 'RECHAZADO' ||
                academicReferenceTwoStatus === 'NO SE HA SUBIDO' ||
                academicReferenceTwoStatus === ''
              "
              class="material-button"
              (click)="referenceLetter2Input.click()"
            >
              <span *ngIf="academicReferenceTwoName === ''"
                >Añadir archivo</span
              >
              <span *ngIf="academicReferenceTwoName">Archivo subido</span>
              <input
                type="file"
                accept=".pdf, application/pdf"
                formControlName="academicReferenceTwo"
                #referenceLetter2Input
                (change)="onAcademicReferenceTwoSelect($event)"
              />
            </button>

            <button
              *ngIf="
                academicReferenceTwoStatus === 'RECHAZADO' ||
                academicReferenceTwoStatus === 'NO SE HA SUBIDO' ||
                academicReferenceTwoStatus === ''
              "
              class="material-button"
              mat-raised-button
              (click)="onAcademicReferenceTwoUpload()"
              color="warn"
            >
              Guardar
              <mat-icon>save</mat-icon>
            </button>

            <button
              *ngIf="
              academicReferenceTwoStatus === 'RECHAZADO' ||
              academicReferenceTwoStatus === 'NO SE HA SUBIDO' ||
              academicReferenceTwoStatus === ''
              "
              class="material-button"
              mat-raised-button
              (click)="redirectToAcademicReferenceFormat()"
              color="primary"
            >
              Formato
              <mat-icon>description</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="grid-item">
      <mat-card style="padding: 16px">
        <mat-card-header>
          <mat-card-title class="text-sm"
            >Anexar Formato de Inscripción debidamente
            diligenciado</mat-card-title
          >
          <mat-card-subtitle>(Archivo en formato PDF)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <div
            class="user-evidences-manager__evidence-load flex gap-4 items-center"
          >
            <div class="mt-15 mr-18">
              <span
                class="badge"
                [ngClass]="getBadgeClass(inscriptionFormatStatus)"
                >{{ inscriptionFormatStatus }}</span
              >
            </div>
            <div class="mt-15 mr-18">
              <span
                class="badge"
                *ngIf="inscriptionFormatStatus === 'SIN REVISAR'"
                [ngClass]="getBadgeClass('APROBADO')"
                >{{ "Enviado para revisar" }}
              </span>
            </div>
            <button
              *ngIf="
                inscriptionFormatStatus === 'RECHAZADO' ||
                inscriptionFormatStatus === 'NO SE HA SUBIDO' ||
                inscriptionFormatStatus === ''
              "
              class="material-button"
              (click)="inscriptionFormatInput.click()"
            >
              <span *ngIf="inscriptionFormatName === ''">Añadir archivo</span>
              <span *ngIf="inscriptionFormatName">Archivo subido</span>
              <input
                type="file"
                accept=".pdf, application/pdf"
                formControlName="inscriptionFormat"
                #inscriptionFormatInput
                (change)="onInscriptionFormatSelect($event)"
              />
            </button>

            <button
              *ngIf="
                inscriptionFormatStatus === 'RECHAZADO' ||
                inscriptionFormatStatus === 'NO SE HA SUBIDO' ||
                inscriptionFormatStatus === ''
              "
              class="material-button"
              mat-raised-button
              (click)="onInscriptionFormatUpload()"
              color="warn"
            >
              Guardar
              <mat-icon>save</mat-icon>
            </button>

            <button
            *ngIf="
              inscriptionFormatStatus === 'RECHAZADO' ||
              inscriptionFormatStatus === 'NO SE HA SUBIDO' ||
              inscriptionFormatStatus === ''
            "
            class="material-button"
            mat-raised-button
            (click)="redirectToInscriptionFormat()"
            color="primary"
          >
          Formato
            <mat-icon>description</mat-icon>
          </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="medium"
      color="#fff"
      type="ball-scale-multiple"
      [fullScreen]="true"
      ><p style="color: white">Cargando...</p></ngx-spinner
    >
  </div>
</form>
