.material-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.025em;
  color: #fff;
  background-color: #b60808;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: background-color 0.2s ease-in-out;
  box-shadow: inset;
}

.material-button:hover,
.material-button:focus {
  background-color: #e29a9a;
}

.material-button input[type="file"] {
  display: none;
}

.material-button span {
  margin-right: 0.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  padding: 0px;
}

.grid-item {
  grid-column: span 1;
}

.card-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.badge-approved {
  background-color: rgb(83, 207, 83);
  color: white;
}

.badge-rejected {
  background-color: red;
  color: white;
}

.badge-revission {
  background-color: rgb(240, 240, 76);
  color: black;
}

.badge-waiting {
  background-color: rgb(174, 186, 255);
  color: black;
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
  }

  .material-button {
    font-size: 0.9rem;
    padding: 0.35rem 0.7rem;
  }

  .badge {
    font-size: 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
  }

  .material-button {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }

  .badge {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .material-button {
    font-size: 0.95rem;
    padding: 0.45rem 0.9rem;
  }
}

@media screen and (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
