<div class="px-4 py-3">
  <!-- Encabezado -->
  <div class="mb-4">
    <h2 class="font-bold text-2xl text-center md:text-left">Listado de Cohortes</h2>
  </div>
  <!-- Indicador de cohorte abierto -->
  <div class="mb-6 shadow-lg">
    <div *ngIf="currentCohorte !== null"  class="p-4 font-bold border-t-2 rounded-t-md border-[#3c8dbc] bg-white  " >
      <p class="mb-4">Actualmente hay un cohorte abierto.</p>
      <button (click)="closeCohorte()" class="bg-red-600 text-white rounded-md py-1 px-6">Cerrar cohorte</button>
    </div>
    <div *ngIf="currentCohorte === null" class="p-4 font-bold border-t-2 rounded-t-md border-[#3c8dbc] bg-white  ">
      <p class="mb-4">No hay cohorte abierto.</p>
      <button (click)="openNewCohorte()" class="bg-red-600 text-white rounded-md py-1 px-6">Abrir cohorte</button>
    </div>
  </div>

  <div *ngIf="listCohortes.length === 0">
    <p>No hay cohortes.</p>
  </div>
  <!-- contenedor para las cards del encabezado -->
  <div>
    <div class="rounded-md shadow-md p-5 mb-4  bg-white border-l-emerald-600 border-l-4" *ngFor="let cohorte of listCohortes; index as i">
        <!-- Indicadores del cohorte -->
        <div class="flex items-center justify-between ">
          <span class="inline-block font-bold">Cohorte {{i}} Calendario A 2023 </span>
          <button class="bg-red-500 text-white hover:bg-red-600 transition-colors py-1 px-6 rounded-md">Ver</button>
        </div>
    </div>
  </div>
</div>