<!-- Contenedor general -->
<div>
  <!-- Contenedor para la imagen, nombre del aspirante y el botón de descargar los documentos -->
  <div class="flex flex-col items-center justify-between mb-6 md:flex-row">
    <!-- contenedor para la información del aspirante -->
    <div class="flex items-center gap-2 text-center mb-6 md:gap-4">
      <div class="w-[50px]">
        <img
          src="assets/no-img-user.jpg"
          alt="sin imagen de perfil"
          class="w-full rounded-full"
        />
      </div>
      <span class="font-bold"> {{ user.nombre }} {{ user.apellido }} </span>
    </div>
    <button (click)="downloadAllDocuments()" class="bg-green-500 p-2 rounded-md text-white">
      Descargar
      <i class="pi pi-download"></i>
    </button>
  </div>

  <!-- contenedor para mostrar los documentos -->
  <div>
    <h2 class="mb-4 font-bold">Documentos del aspirante</h2>
    <!-- contenedor para todos los documentos -->
    <div>
      <!-- contenedor para cada documento -->
      <div
        class="card px-3 pb-3 mb-4 rounded-md"
        *ngFor="let doc of docs; index as i"
      >
        <!-- estado (solo pa ver que funcione) -->
        <div class="flex justify-between items-center py-3">
          <div
            [ngClass]="getColorTarget(doc.estado.id)"
            class="rounded-full p-2 w-2 h-2"
          ></div>

          <div
            class="inline-block py-1 px-4 rounded-md font-bold"
            [ngClass]="getColorTarget(doc.estado.id)"
          >
            {{ doc.estado.nombre | titlecase }}
          </div>
        </div>
        <!-- titulo indicativo del documento -->
        <h3 class="p-3 text-center md:text-start font-bold">
          <!-- <i class="pi pi-camera mr-2"></i> -->
          {{ doc.documento.nombre }}
        </h3>
        <!-- contenedor de los inputs -->
        <div
          class="flex flex-col gap-2 my-3 md:flex-row md:items-center"
          [ngClass]="{ 'justify-center': doc.estado.id === 4 }"
        >
          <!-- Contenedor para los botones para descargar y previsualizar -->
          <div class="flex flex-col md:justify-around md:flex-row md:w-[50%]">
            <a
              [href]="doc.url"
              target="_blank"
              class="font-bold mb-3 text-center md:mb-0 bg-zinc-200 inline-block py-2 px-6 rounded-md hover:bg-zinc-400 transition-colors"
            >
              Previsualizar Documento
              <i class="ml-2 pi pi-search"></i>
            </a>
          </div>
          <!-- Contenedor para aprobar o denegar documentos -->
          <div
            class="flex justify-center gap-2 md:w-[50%]"
            *ngIf="doc.estado.id !== 4"
          >
            <button
              class="w-[50%] px-3 py-1 rounded-md font-semibold text-center text-white bg-green-600 transition-colors hover:bg-green-700"
              (click)="confirmTrigger(doc.documento.nombre, doc.documento.id, i)"
            >
              <span class="hidden md:inline-block mr-2">Aprobar</span>
              <i class="pi pi-check"></i>
            </button>
            <button
              class="w-[50%] px-3 py-1 rounded-md font-semibold text-center text-white bg-red-600 transition-colors hover:bg-red-700"
              (click)="reject(doc)"
            >
              <span class="hidden md:inline-block mr-2">Rechazar</span>
              <i class="pi pi-times"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal contenedor -->
<div
  class="w-full h-full fixed z-50 top-0 left-0 p-4 bg-shadow overflow-y-auto flex justify-center"
  *ngIf="showModalReject"
>
  <div class="bg-white w-[90%] max-w-[600px] min-h-full p-4 rounded-lg">
    <!-- contenedor para el header -->
    <div class="mb-4">
      <h2 class="text-center md:text-left">
        ¿Desea rechazar el documento {{ rejectDoc.nombre }}?
        <span class="block">Especifique las razones: </span>
      </h2>
    </div>
    <!-- Contenedor para la opcion :) -->
    <div class="mb-4">
      <div class="flex items-start gap-3 px-4 mb-5">
        <div class="pt-1">
          <input
            value="El documento no se ve correctamente"
            [(ngModel)]="selectReject"
            type="radio"
            name="correcion"
            id="1"
          />
        </div>
        <label class="cursor-pointer" for="1"
          >El documento no se ve correctamente</label
        >
      </div>

      <div class="flex items-start gap-3 px-4 mb-5">
        <div class="pt-1">
          <input
            value="El documento no cumple con los formatos institucionales"
            [(ngModel)]="selectReject"
            type="radio"
            name="correcion"
            id="2"
          />
        </div>
        <label class="cursor-pointer" for="2"
          >El documento no cumple con los formatos institucionales</label
        >
      </div>

      <div class="flex items-start gap-3 px-4 mb-5">
        <div class="pt-1">
          <input
            value="El documento presenta incoherencias"
            [(ngModel)]="selectReject"
            type="radio"
            name="correcion"
            id="3"
          />
        </div>
        <label class="cursor-pointer" for="3"
          >El documento presenta incoherencias</label
        >
      </div>

      <div class="flex items-start gap-3 px-4 mb-5">
        <div class="pt-1">
          <input
            value="El documento no es el que se solicitó"
            [(ngModel)]="selectReject"
            type="radio"
            name="correcion"
            id="4"
          />
        </div>
        <label class="cursor-pointer" for="4"
          >El documento no es el que se solicitó</label
        >
      </div>

      <div class="px-4 mb-5">
        <div class="flex items-start gap-3">
          <div class="pt-1">
            <input
              value="Otro"
              [(ngModel)]="selectReject"
              type="radio"
              name="correcion"
              id="5"
            />
          </div>
          <label class="cursor-pointer" for="5">Otro:</label>
        </div>
        <div>
          <textarea
            [disabled]="selectReject !== 'Otro'"
            [(ngModel)]="other"
            name="correcionEspecifica"
            id=""
            cols="30"
            rows="7"
            class="w-full border-black border rounded-md outline-none p-2 resize-none"
          ></textarea>
        </div>
      </div>
    </div>

    <!-- contenedor para los botones -->
    <div class="flex justify-around items-center gap-4">
      <button
        (click)="rejectDocument(0)"
        class="py-1 px-6 rounded-md font-bold bg-green-600 transition-colors hover:bg-green-700 text-white"
      >
        Rechazar
      </button>
      <button
        (click)="rejectDocument(-1)"
        class="py-1 px-6 rounded-md font-bold bg-red-600 transition-colors hover:bg-red-700 text-white"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>
