<app-dash-navbar></app-dash-navbar>
<div class="flex flex-col md:flex-row">
  <!-- Contenedor Imagen -->
  <div class="pt-5 w-full">
    <!-- Contenedor para ubicar la imagen -->
    <div class="w-2/4 mx-auto">
      <img
        class="rounded-full md:mx-auto md:mt-8 xl:max-w-sm"
        src="assets/no-img-user.jpg"
        alt="user-img"
      />
    </div>
    <!-- Contenedor nombre de usuario -->
    <div class="mt-8 text-3xl font-bold text-center">
      <span>Jhon Doe</span>
    </div>
  </div>
  <!-- Contenedor Formulario -->
  <div class="md:relative md:top-32 md:min-w-[50%]">
    <form [formGroup]="confirmForm" class="pb-4 mb-6" autocomplete="off">
      <!-- Contenedor títulos del formulario -->
      <div class="p-4 my-6 text-center">
        <h2 class="my-4 text-3xl font-bold">Cambiar la Contraseña</h2>
        <span class=""
          >Una contraseña segura contribuye a evitar el acceso no autorizado a
          la cuenta de registro de la maestría</span
        >
      </div>

      <!-- Contenedor preguntas -->
      <div class="px-4 mx-auto md:max-w-xl">
        <!-- Contraseña actual -->
        <div class="my-7 flex flex-col">
          <span class="max-w-xl p-float-label">
            <!-- p-float-label da una pequeña animacion al input -->
            <input
              class="w-full"
              formControlName="currentPass"
              pInputText
              id="currentPass"
            />
            <label htmlFor="currentPass">Contraseña Actual</label>
          </span>
          <!-- Validacion contraseña actual obligatoria -->
          <span
            *ngIf="isValidField('currentPass')"
            class="text-red-500 font-semibold"
          >
            Este campo es requerido
          </span>
        </div>

        <!-- Contraseña nueva -->
        <div class="my-7 flex flex-col">
          <span class="max-w-xl p-float-label">
            <!-- p-float-label da una pequeña animacion al input -->
            <input
              class="w-full"
              formControlName="newPass"
              pInputText
              id="newPass"
            />
            <label htmlFor="newPass">Contraseña Actual</label>
          </span>
          <!-- Validacion contraseña nueva obligatoria-->
          <span
            *ngIf="isValidField('newPass')"
            class="text-red-500 font-semibold"
          >
            Este campo es requerido
          </span>
        </div>

        <!-- Confirmación Contraseña -->
        <div class="my-7 flex flex-col">
          <span class="max-w-xl p-float-label">
            <!-- p-float-label da una pequeña animacion al input -->
            <input
              class="w-full"
              formControlName="repeatPass"
              pInputText
              id="repeatPass"
            />
            <label htmlFor="repeatPass">Contraseña Actual</label>
          </span>
          <!-- Validacion contraseña nueva 2 obligatoria -->
          <span
            *ngIf="isValidField('repeatPass')"
            class="text-red-500 font-semibold"
          >
            Este campo es requerido
          </span>
          <!-- Validacion contraseña nueva 2 no coincide con la nueva -->
          <span
            *ngIf="confirmForm.hasError('matchingFields')"
            class="text-red-500 font-semibold"
          >
            Los campos no coinciden
          </span>
        </div>
      </div>
      <!-- Contenedor botones del formulario -->
      <div class="flex justify-between w-11/12 max-w-xl mx-auto mt-8">
        <p-button
          routerLink="/inscription/aspirante/personal-info"
          label="Volver"
          styleClass="p-button-secondary"
        ></p-button>
        <p-button
          [disabled]="confirmForm.invalid"
          label="Guardar"
          styleClass="p-button-secondary"
        ></p-button>
      </div>
    </form>
  </div>
</div>
