<div class="p-2">
  <div *ngIf="isOpenCohorte; else noCohorte">
    <!-- title -->
    <div>
      <h1 class="font-bold text-2xl mb-4 mt-7">
        <i class="pi pi-link" style="font-size: 1.5rem"></i> Anexe el link de
        reunión a la entrevista
      </h1>
    </div>
  
    <!-- Contenedor General -->
    <div class="mb-9">
      <!-- Contenedor de para enviar el link de la reunión -->
      <div
        class="flex justify-between items-center rounded-md bg-white relative mb-4 shadow-lg"
      >
        <input
          type="text"
          placeholder="https://meet.google.com/......"
          class="py-3 px-6 w-full rounded-md outline-none inputLink"
        />
        <button
          (click)="sendLink()"
          class="block bg-red-600 ml-auto py-2.5 px-11 text-white rounded-md font-semibold hover:bg-red-700 transition-colors"
        >
          Enviar
        </button>
      </div>
    </div>
  
    <!-- Tabla de listado de aspirantes -->
    <div class="shadow-lg bg-white">
      <div class="mb-2 border-b border-red-600">
        <h2 class="py-3 px-4 font-semibold">Listado de aspirantes</h2>
      </div>
  
      <!-- Contenedor para la tabla -->
      <div class="py-2">
        <!-- Contenedor para mostrar las aspirantes -->
        <div class="px-4">
          <p-table [value]="users" [paginator]="true" [rows]="5">
            <ng-template pTemplate="header">
              <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Asignar Horario</th>
                <th>Calificar</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
              <tr class="even:bg-slate-300">
                <td>{{ user.nombre }}</td>
                <td>{{ user.correoPersonal }}</td>
                <td>{{ user.telefono }}</td>
                <!-- Columna de la fecha -->
                <td
                  class="flex flex-col justify-center gap-2 lg:flex-row lg:items-center"
                >
                  <p-calendar
                    id="startDate"
                    styleClass="w-48"
                    [showIcon]="true"
                    [minDate]="minDate"
                  ></p-calendar>
                </td>
                <!-- Columna de la calificación -->
                <td>
                  <div class="flex flex-row justify-center">
                  <input
                    type="text"
                    class="w-28 p-3 rounded-l-lg border-slate-200 border-2"
                  />
                  <button
                    class="rounded-r-lg bg-sky-600 hover:bg-sky-700 py-2 px-3"
                  >
                    <i class="pi pi-check" style="color: white"></i>
                  </button>
                </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

  </div>

  <!-- Letrero de que no hay nada por mostrar -->
  <ng-template #noCohorte>
    <div class="p-4 border-t-2 border-orange-300 bg-white shadow-lg rounded-md">
        <!-- header -->
        <div class="border-b pb-2">
            <h2>
                <i class="pi pi-info-circle"></i>
                No hay un cohorte abierto
            </h2>
        </div>
        <!-- abrir cohorte -->
        <div>
            <p class="my-4">¿Desea abrir un cohorte?</p>
            <a routerLink="/inscription/admin/cohortes" class="py-1 px-6 bg-red-600 text-white hover:bg-red-400 transition-colors rounded-md">Abrir cohorte</a>
        </div>
    </div>
  </ng-template>
</div>
