<header class="flex flex-col w-full max-h-[100px] bg-red-500 md:flex-row md:items-center relative z-20">
    <!-- nombre de la APP -->
    <div class="text-center flex items-center justify-center md:w-60 h-[50px] ">
        <span class="block text-white text-2xl font-bold ">PAM</span>
    </div>
    <nav class="flex  h-[50px] md:w-10/12 ">
        <!-- logo de las barras *ngIf="!isNewUser" -->
        <div class="flex items-center justify-center h-full" *ngIf="user.role !== 'USUARIO' ">
            <button (click)="closeNav()"
                    class="text-white font-bold flex justify-center items-center w-8 h-full hover:bg-red-600 px-6 ">
                <i class="pi pi-bars"></i>
            </button>
        </div>
        <!-- iconos de notificacion, nombre del aspirante y la foto -->
        <div class="ml-auto h-full text-white">
            <ul class="flex h-full items-center">
                <li class="flex items-center h-full" *ngIf="user.role === 'USUARIO' && user.status !== 1">
                    <a  (click)="showNotificaciones()" class="px-6 flex items-center justify-center font-bold cursor-pointer w-8 h-full hover:bg-red-600">
                        <i class="pi pi-bell "></i>
                    </a>
                </li>
                <li class="flex items-center h-full" *ngIf="( user.status !== 1 )">
                    <a routerLink="/inscription/cambiar-contraseña" class="px-4 flex items-center gap-2 w-full h-full hover:bg-red-600">
                        <img class="inline-block w-6 h-6 rounded-full" src="assets/no-img-user.jpg" alt="">
                        <span class="hidden md:inline-block"> {{user.name}} </span>
                    </a>
                </li>
                <li class="flex items-center h-full">
                    <button (click)="logout()" class="px-6 flex items-center justify-center font-bold  w-8 h-full hover:bg-red-600">
                        <i class="pi pi-sign-out "></i>
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- Notificaciones -->
<div class="bg-white absolute z-20 w-64 h-44 right-[17%] border-2 border-slate-400" *ngIf="showNotifications">
  <div class="flex flex-col">
    <span class="pt-2 mx-auto">No tiene notificaciones nuevas</span>
    <i class="pi pi-check-circle mx-auto py-4" style="font-size: 4.3rem"></i>
    <a routerLink="/inscription/notifications" class="pt-1 mx-auto bottom-0 font-semibold">Ver todas</a>
  </div>
</div>
